# Assignment

- Create a new repository and notebook for this assignment.
-Using the Sakila database, complete the below queries with Python in your Jupyter Notebook.
- Use MySQL Workbench to test your queries and then copy and paste them into your notebook to perform with Pandas and SQLAlchemy.

## You can get see ERD here

![png](https://assets.codingdojo.com/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

# Set Up SQL

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)

In [4]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

## Run Query to get all customers inside city_id =312

In [5]:
q = '''SELECT cu.first_name, cu.last_name, cu.email, ad.address, ci.city
FROM customer AS cu
JOIN address AS ad
ON cu.address_id = ad.address_id
JOIN city AS ci
ON ad.city_id = ci.city_id
WHERE ci.city_id = 312;'''

pd.read_sql(q,engine)

,first_name,last_name,email,address,city
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,London
1,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,London